html {
    font-size: 100%;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.header {
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.header svg {
    height: 12vh;
}

.footer {
    position: fixed;
    bottom: 32px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.footer svg {
    height: 50vh;
    stroke: #000;
    fill: white;
    stroke-width: 4px;
}

main {
    width: 100%;
}

.section {
    width: 1000px;
    margin: 0 auto;
    height: var(--doc-height);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: sticky;
    top: 0;
}